/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
 
/ {
	behaviors {
		ht: hold_tap {
			compatible = "zmk,behavior-hold-tap";
			label = "Hold Tap";
			#binding-cells = <2>;
			tapping-term-ms = <200>;
			flavor = "tap-preferred";
			bindings = <&kp>, <&kp>;
		};	
	};


//_________________________________________________________________________________________________________
//|  TAB  |   Q   |   W   |   E   |   R   |   T   |   Y   |   U   |   I   |   O   |   P   |      BSPC     |
//|_______|_______|_______|_______|_______|_______|_______|_______|_______|_______|_______|_______________|
//|    ESC    |   A   |   S   |   D   |   F   |   G   |   H   |   J   |   K   |   L   |   '   |    RET    |
//|________ __|_______|_______|_______|_______|_______|_______|_______|_______|_______|_______|___________|
//|   LSHFT     |   Z   |   X   |   C   |   V   |   B   |   N   |   M   |   ,   |   .   |   ?   |  RSHFT  |
//|_____________|_______|_______|_______|_______|_______|_______|_______|_______|_______|_______|_________|
//|  LCTRL  |  LGUI   |  LALT   |     MO1/SPACE   |        SPACE        |  MO2    | RGUI  |  RALT | RCTRL |
//|_________|_________|_________|_________________|_____________________|_________|_______|_______|_______|
//

	keymap {
		compatible = "zmk,keymap";

		default_layer {
			bindings = <
&kp TAB    &kp Q     &kp W     &kp E        &kp R  &kp T  &kp Y  &kp U    &kp I      &kp O    &kp P      &kp BSPC  &kp BSPC
&kp ESC    &kp A     &kp S     &kp D        &kp F  &kp G  &kp H  &kp J    &kp K      &kp L    &kp APOS   &kp RET
&kp LSHFT  &kp Z     &kp X     &kp C        &kp V  &kp B  &kp N  &kp M    &kp COMMA  &kp DOT  &kp QMARK  &kp RSHFT
&kp LCTRL  &kp LGUI  &kp LALT  &lt 1 SPACE         &kp SPACE              &kp RALT   &mo 2    &kp RGUI   &kp RCTRL
			>;
		};


//
//_________________________________________________________________________________________________________
//| GRAVE |  1/!  |  2/@  |  3/#  |  4/$  |  5/%  |  6/^  |  7/&  |  8/*  |  9/(  |  0/)  |      DEL      |
//|_______|_______|_______|_______|_______|_______|_______|_______|_______|_______|_______|_______________|
//|   none    | HOME  | PG_UP |   D   |   F   |   G   | LBKT  | LBKT  | EQUAL | BSLH  | FSLH  |    RET    |
//|________ __|_______|_______|_______|_______|_______|_______|_______|_______|_______|_______|___________|
//|   LSHFT     |  END  | PG_DN |   C   |   V   |   B   |   N   |   M   |   ,   |   -   |   UP  |  RSHFT  |
//|_____________|_______|_______|_______|_______|_______|_______|_______|_______|_______|_______|_________|
//|  LCTRL  |  LGUI   |  LALT   |     MO1/SPACE   |        SPACE        |  RALT   | LEFT  | DOWN  | RIGHT |
//|_________|_________|_________|_________________|_____________________|_________|_______|_______|_______|
//

		function_layer {
			bindings = <
&kp GRAVE  &kp N1    &kp N2     &kp N3  &kp N4  &kp N5  &kp N6    &kp N7    &kp N8     &kp N9     &kp N0    &kp DEL  &kp DEL
&none      &kp HOME  &kp PG_UP  &trans  &trans  &trans  &kp LBKT  &kp LBKT  &kp EQUAL  &kp BSLH   &kp FSLH  &trans
&trans     &kp END   &kp PG_DN  &trans  &trans  &trans  &trans    &trans    &trans     &MINUS     &kp UP    &trans
&trans     &trans    &trans     &trans          &trans                      &trans     &kp LEFT   &kp DOWN  &kp RIGHT
			>;
		};


//_________________________________________________________________________________________________________
//|  F1   |  F2   |  F3   |  F4   |  F5   |  F6   |  F7   |  F8   |  F9   |  F10   |  F11   |     F12     |
//|_______|_______|_______|_______|_______|_______|_______|_______|_______|________|________|_____________|
//|   none    | HOME  | PG_UP |   D   |   F   |   G   | LBKT  | LBKT  | EQUAL | BSLH  | FSLH  |    RET    |
//|________ __|_______|_______|_______|_______|_______|_______|_______|_______|_______|_______|___________|
//|   LSHFT     |  END  | PG_DN |   C   |   V   |   B   |   N   |   M   |   ,   |   -   |   UP  |  RSHFT  |
//|_____________|_______|_______|_______|_______|_______|_______|_______|_______|_______|_______|_________|
//|  LCTRL  |  LGUI   |  LALT   |     MO1/SPACE   |        SPACE        |  RALT   | LEFT  | DOWN  | RIGHT |
//|_________|_________|_________|_________________|_____________________|_________|_______|_______|_______|
//		

		other_layer {
			bindings = <
&kp F1      &kp F2       &kp F3       &kp F4       &kp F5   &kp F6   &kp F7   &kp F8   &kp F9         &kp F10       &kp F11  &kp F12
&trans      &trans       &trans       &trans       &trans   &trans   &trans   &trans   &trans         &trans        &trans   &trans
&trans      &bt BT_CLR   &bt BT_PRV   &bt BT_NXT   &trans   &trans   &trans   &trans   &bootloader    &reset                 &trans
&trans      &trans       &trans       &trans                                  &trans   &kp C_VOL_UP   &kp C_VOL_DN           &kp C_PP
			>;  
		};

	};
};